# Security & Data (Requirement 9)
**/data/
**/*.pem
**/*.key

# Python
__pycache__/
*.py[cod]
venv/
.pytest_cache/

# Java
.gradle/
build/
target/
*.class
*.jar
.idea/
*.iml
.settings/
.classpath
.project